language: haxe

# TravisCI by default run on linux.
# To enable multi-os support (linux and mac) for a repo,
# send an email to support@travis-ci.com.
# http://docs.travis-ci.com/user/multi-os/
os:
  - linux
  - osx

# Test with Haxe 3.2.0 and Haxe development.
haxe:
  - "3.2.0"
  - development

matrix:
  # Allow Haxe development to fail.
  allow_failures:
    - haxe: development

addons:
  # This is the preferred way to install apt packages.
  # However, it only allow some but not all packages.
  # Alternatively, we can use `sudo apt-get install ...` in the `install:` section.
  # http://docs.travis-ci.com/user/apt/#Adding-APT-Packages
  apt:
    packages:
      # Python
      - python3
      # PHP
      - php5-cli
      # C#
      - mono-devel
      - mono-mcs
      # Flash
      - libgd2-xpm
      - ia32-libs
      - ia32-libs-multiarch

install:
  # For our forks that do not have mult-os enabled...
  - if [ -z "${TRAVIS_OS_NAME}" ]; then
      export TRAVIS_OS_NAME=linux;
    fi
  # os-specific config
  - if [ "${TRAVIS_OS_NAME}" = "linux" ]; then
      export DISPLAY=:99.0;
      export AUDIODEV=null;
    elif [ "${TRAVIS_OS_NAME}" = "osx" ]; then
      brew update;
      brew install mono;
      brew install phantomjs;
      brew install python3;
    fi
  # Download and setup a standalone flash player debugger
  - haxe flash/install.hxml
  # Install haxelibs
  - haxelib install hxcpp
  - haxelib install hxjava
  - haxelib install hxcs
  - haxelib list

script:
  - haxe build-interp.hxml
  - haxe build-neko.hxml         && neko bin/HelloWorld.n
  - haxe build-js.hxml           && node bin/HelloWorld.js
                                 && haxe phantomjs/run.hxml HelloWorld.js 'Hello world!'
  - haxe build-java.hxml         && java -jar bin/HelloWorld.jar
  - haxe build-php.hxml          && php bin/index.php
  - haxe build-cs.hxml           && mono bin/bin/HelloWorld.exe
  - haxe build-flash.hxml -D fdb && haxe flash/run.hxml bin/HelloWorld.swf
  - haxe build-cpp.hxml          && ./bin/HelloWorld
  - haxe build-python.hxml       && python3 bin/HelloWorld.py
