language: haxe

haxe:
  - "3.1.3"
  - development

addons:
  apt:
    packages:
      - python3
      - php-zeroc-ice # use it to install php5 for now

install:
  - haxelib install hxcpp
  - haxelib install hxjava
  - haxelib install hxcs
  - haxelib list

script:
  - haxe build-interp.hxml
  - haxe build-neko.hxml && neko bin/HelloWorld.n
  - haxe build-js.hxml && node bin/HelloWorld.js
  - haxe build-java.hxml && java -jar bin/HelloWorld.jar
  - haxe build-php.hxml && php bin/index.php
  - haxe build-cs.hxml -D no-compilation # Missing mono compiler. Just run the haxe compiler for now
  - haxe build-flash.hxml # Flash testing is hard to setup. Just run the haxe compiler for now
  - haxe build-cpp.hxml && ./bin/HelloWorld
  - if [ "${TRAVIS_HAXE_VERSION}" = "development" ]; then haxe build-python.hxml && python3 bin/HelloWorld.py; fi